// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import "hover";
@import "color";
@import "dashboard";
@import "units";
@import "btn";

.select2-container--open {
  z-index: 99999;
}
.datepickers-container{
  z-index: 99999;
}

table.data-table{
  .custom-select{
    font-size: 12px !important;
    height: unset !important;
    width: 99% !important;
  }
  tfoot:before {
    content:"@";
    display:block;
    line-height:10px;
    text-indent:-99999px;
  }
}

.page-link{
  color: $primary;
  &:hover{
    color: $primary;
  }
}

.page-item.active .page-link {
  background-color: $primary;
  border-color: $primary;
}


.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $primary;
}

.bootstrap-select .dropdown-menu li .dropdown-item.active:hover, .select2-container--default .select2-results__option[aria-selected=true] {
  background-color: $primary;
  color: #fff;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: $primary;
  color: white;
}

table.dataTable.display tbody tr.odd, table.dataTable.display tbody tr:hover, table.dataTable.hover tbody tr:hover, table.dataTable.stripe tbody tr.odd{
  background-color: #f5f5f5 !important;
}
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.shake{
  animation: shake 0.5s;
  animation-iteration-count: 5;
}
.user-notification .dropdown-toggle .badge{
  display: none;
}
.notification-active{
  animation: flash linear 1s infinite;
}

@keyframes flash {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% { opacity: 1; }
}

.left-side-bar{
  left: -281px;
}

