// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import "hover";
@import "color";
@import "dashboard";
@import "units";
@import "btn";

.select2-container--open {
  z-index: 99999;
}
.datepickers-container{
  z-index: 99999;
}

.data-table{
  td{
    word-break: break-word;
    word-break: break-all;
  }
}

