.h-task-item{
    border: 1px solid transparent;
    &:hover{
        color: #131e22;
        border-color: #1b00ff;
        -webkit-box-shadow: 0 0 28px rgba(0,0,0,.1);
        box-shadow: 0 0 28px rgba(0,0,0,.1);
    }
}
