.u-pt-12{
    padding-top: 12px;
}
.z-99999{
    z-index: 99999;
}
.w-4{
    width: 4% !important;
    @include mobile{
        width: 15% !important;
    }
}
.w-10{width: 10% !important;}
.w-15{width: 15% !important;}
.w-20{width: 20% !important;}
.w-30{width: 30% !important;}
.w-45{width: 45% !important;}
.w-60{width: 60% !important;}
.w-75{width: 75% !important;}
.w-90{width: 90% !important;}
.h-10{height: 10% !important;}
.h-15{height: 15% !important;}
